{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Debug",
      "Override": {
        "Microsoft": "Information",
        "System": "Information"
      }
    }
  },
  "BaseUrl": "http://localhost:3000",
  "Hangfire": {
    "ServerEnabled": false,
    "WorkerCount": 1
  },
  "AdminNotifications": {
    "OrganisationOnboardingEmail": "systemadmin@gmail.com"
  }
}
