{
  "Serilog": {
    "MinimumLevel": {
      "Default": "Debug",
      "Override": {
        "Microsoft": "Information",
        "System": "Information"
      }
    }
  },
  "BaseUrl": "http://localhost:3000",
  "Hangfire": {
    "ServerEnabled": false,
    "WorkerCount": 1
  },
  "RateLimiting": {
    "ReadPermitLimit": 120,
    "ReadWindowSeconds": 60,
    "ReadQueueLimit": 0,
    "WritePermitLimit": 60,
    "WriteWindowSeconds": 60,
    "WriteQueueLimit": 0,
    "SensitivePermitLimit": 8,
    "SensitiveWindowSeconds": 60,
    "SensitiveQueueLimit": 0
  },
  "AdminNotifications": {
    "OrganisationOnboardingEmail": "systemadmin@gmail.com"
  }
}
